@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(/use.fontawesome.com/releases/v5.12.1/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@600&display=swap);

body {
    font-family: "Open Sans", arial;
    background-image: url("Img/background.jpg");
    background-size: cover;  
    color: #f2f2f2;
    font-weight:300;
    padding: 0;
}

.main {
    margin-left: 150px;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.page-header {
    z-index: 1;
    position: sticky;
    position: web-kit-sticky;
    display: block;
    background-color: steelblue;
    background-image: linear-gradient(to bottom, lightskyblue,#003669);
    font-family: 'Open Sans', cursive;
    font-size: 24px; 
    top: -15;
    padding: 0px;
    text-shadow:
     -1px -1px 0 SteelBlue,  
      1px -1px 0 SteelBlue,
      -1px 2px 0 Black,
       1px 2px 0 Black;
}

.page-header img {
    display: inline-block;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 30px;
    width: auto;
    height: 30px;
}


/* Style for left navigation bar */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 80px;
    list-style: none;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}


.dropdown-btn {
    display: inline-block;
    margin-left: 0;
    padding: 0;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: lightskyblue;
}

.dropdown-container {
    display: none;
    background-color: #f8f8f8;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 25px;
}

.navbartopgradient {
    border-bottom: inset;
}

.navbardarkerli {
    background-color: #e9e9e9;
}

.navbarbottomgradient {
    border-top: 2px solid rgb(226, 226, 226);
}
/* Add an active class to the active dropdown button */
.active {
    background-color: #e9e9e9;
    color: #818181;
    border: none;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    font-size: 12px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  * {
    box-sizing: border-box;
  }
  .card img {
      width:100%;
      height: auto;
      border-radius:
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 4px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .container h4 {
      text-align: center;
  }
