@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(/use.fontawesome.com/releases/v5.12.1/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@600&display=swap);

body {
    font-family: "Open Sans", arial;
    background-image: url("Img/background.jpg");
    background-size: cover;  
    color: #f2f2f2;
    font-weight:300;
    padding: 0;
    margin-top: 0;
}

button {
    border: none;
    background-color: #e9e9e9;
    font-family: "Open Sans", arial;
    font-weight: 300;
    font-size: 10px;
    color: #818181;
}

button:hover {
    color: lightskyblue;
}
/* Start - Main page header */

.page-header {
    z-index: 2;
    position: sticky;
    display: block;
    background-color: steelblue;
    background-image: linear-gradient(to bottom, lightskyblue,#003669);
    font-family: 'Open Sans', cursive;
    font-size: 24px; 
    top: 0;
    padding: 0px;
    margin-left: -10px;
    margin-right:-4px;
    text-shadow:
     -1px -1px 0 SteelBlue,  
      1px -1px 0 SteelBlue,
      -1px 2px 0 Black,
       1px 2px 0 Black;
}

.mobile-page-header {
    visibility: hidden;
}

.page-header img {
    display: inline-block;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 30px;
    width: auto;
    height: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/* End - Main page header */

/* Start -Style for left navigation bar */

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #f2f2f2;
    overflow: hidden;
    padding-top: 80px;
    list-style: none;
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: .7s;
    white-space: nowrap;

}

.sidenav .nav-text {
    opacity: 0;
    transition: .7s
}

.sidenav:hover .nav-text {
    opacity: 1;
    transition: .7s;
}

.sidenav a, .dropbtn {
    padding: 6px 8px 6px 18px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-button {
    border: none;
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 12px;
}

.dropdown-container {
    border: none;
    color: #818181;
    background-color: #e9e9e9;
    padding-left: 20px;
    display: none;
}

.dropdown-btn, #nav-icon {
    margin-left: 5px;
}


.sidenav a:hover {
    color: lightskyblue;
}

.sidenav:hover {
    width: 170px;
    transition: width .7s;
}

#nav-transition {
    transition-timing-function: ease-in-out;
}

.sidenav:hover #caret-down {
    float: right;
    padding-right: 25px;
    float: inline-end;
    z-index: 3;
    visibility: visible;
    transition-delay: .7s;
    -moz-transition-delay: .7s;
}

.sidnav, #caret-down {
    visibility: hidden;
}

#caret-down {
    background-color: #e9e9e9;
    position: inline-block;
    padding-left: 15px;

}
.navbartopgradient {
    border-bottom: 2px solid rgb(199, 199, 199);
    padding: 0px;
    border-bottom-right-radius: 50px 25px;
}

.navbardarkerli {
    background-color: #e9e9e9;
    position: relative;
}

.navbarbottomgradient {
    border-top: 2px solid rgb(226, 226, 226);
}

.body_iframe {
    display: flexbox;
    height: 1000px;
    width:100%;
    border: none;
    padding-left: 175px;
    overflow:hidden;
    transition: .7s;
}

.body_iframe:hover {
    display:flexbox;
    height: 1000px;
    width: 100%;
    padding-left: 50px;
    overflow:hidden;
    transition: .7s;
}

#iframe_transition {
    transition-timing-function: ease-in-out;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: lightskyblue; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: steelblue; 
}

/* End of NavBar Style */


/* RESPONSIVE STYLING*/

/* Responsive layout - Change from 1 Row, 2 Columns to 1 Row, 1 Column when Media width display > 600px */
@media screen and (max-width: 600px) {

    .body {
        margin-left: 0;
        padding: 0px;
    }

    .page-header {
        display: inline-block;
        font-size: 12px;
        margin-left: -7px;
        text-align: center;
    }

    .page-header img {
        display: inline-block;
        padding-top: 10px;
        padding-left: 3px;
        padding-right: 8px;
        width: auto;
        height: 35px;
        vertical-align: middle;
    }

    .body:hover {
        margin-left: 0px;
    }
    
    .body_iframe {
        padding-left: 10px;
        width: 100%;
        margin: 0px;
    }

    .body_iframe:hover {
        padding-left: 10px;
        width: 100%;
    }

    #iframe_transition {
        transition-timing-function: none;
    }
}