@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(/use.fontawesome.com/releases/v5.12.1/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@600&display=swap);
@import url(style.scss);

body {
    font-family: "Open Sans", arial;
    background-image: url("Img/background.jpg");
    background-size: cover;  
    color: #f2f2f2;
    font-weight:300;
    padding: 0;
    margin-top: 0;
}

button {
    border: none;
    background-color: #e9e9e9;
    font-family: "Open Sans", arial;
    font-weight: 300;
    font-size: 10px;
    color: #818181;
}

button:hover {
    color: lightskyblue;
}
/* Start - Main page header */

.page-header {
    z-index: 2;
    position: sticky;
    display: block;
    background-color: steelblue;
    background-image: linear-gradient(to bottom, lightskyblue,#003669);
    font-family: 'Open Sans', cursive;
    font-size: 24px; 
    top: 0;
    padding: 0px;
    margin-left: -10px;
    margin-right:-4px;
    text-shadow:
     -1px -1px 0 SteelBlue,  
      1px -1px 0 SteelBlue,
      -1px 2px 0 Black,
       1px 2px 0 Black;
}

.page-header img {
    display: inline-block;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 30px;
    width: auto;
    height: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/* End - Main page header */

/* Start -Style for left navigation bar */

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #f2f2f2;
    overflow: hidden;
    padding-top: 80px;
    list-style: none;
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: .7s;
    white-space: nowrap;

}

.sidenav .nav-text {
    opacity: 0;
    transition: .7s
}

.sidenav:hover .nav-text {
    opacity: 1;
    transition: .7s;
}

.sidenav a, .dropbtn {
    padding: 6px 8px 6px 18px;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-button {
    border: none;
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 12px;
}

.dropdown-container {
    border: none;
    color: #818181;
    background-color: #e9e9e9;
    padding-left: 20px;
    display: none;
}

.dropdown-btn, #nav-icon {
    margin-left: 7px;
}

.sidenav a:hover {
    color: lightskyblue;
}

.sidenav:hover {
    width: 175px;
    transition: width .7s;
}

#nav-transition {
    transition-timing-function: ease-in-out;
}

.sidenav:hover #caret-down {
    float: right;
    padding-right: 25px;
    float: inline-end;
    z-index: 3;
    visibility: visible;
    transition-delay: .7s;
    -moz-transition-delay: .7s;
}

.sidnav, #caret-down {
    visibility: hidden;
}

#caret-down {
    background-color: #e9e9e9;
    position: inline-block;
    padding-left: 15px;

}
.navbartopgradient {
    border-bottom: 2px solid rgb(199, 199, 199);
    padding: 0px;
    border-bottom-right-radius: 50px 25px;
}

.navbardarkerli {
    background-color: #e9e9e9;
    position: relative;
}

.navbarbottomgradient {
    border-top: 2px solid rgb(226, 226, 226);
}

.body_iframe {
    display: flexbox;
    height: 800px;
    width:100%;
    border: none;
    padding-left: 175px;
    overflow:hidden;
    transition: .7s;
}

.body_iframe:hover {
    display:flexbox;
    height: 800px;
    width: 100%;
    padding-left: 50px;
    overflow:hidden;
    transition: .7s;
}

#iframe_transition {
    transition-timing-function: ease-in-out;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightskyblue; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: steelblue; 
  }

/* End of NavBar Style */


.active {
    background-color: #e9e9e9;
    color: #818181;
    border: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: height 0.3s linear .5s;
    background-color: white;
    font-size: 12px;
    height: auto;
}
  
.card:hover {
    box-shadow: 4px 8px 16px 4px lightskyblue;
    height: 500px;
    animation-name: card-colorized;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes card-colorized {
    0%   {box-shadow: 4px 8px 16px 4px rgb(162, 0, 255);}
    25%  {box-shadow: 4px 8px 16px 4px rgb(52, 0, 95);}
    50%  {box-shadow: 4px 8px 16px 4px rgb(0, 31, 97);}
    100% {box-shadow: 4px 8px 16px 4px rgb(0, 88, 202);}
}

.container {
    padding: 2px 16px;
}

* {
    box-sizing: border-box;
}

  .card img {
    width:100%;
    height: auto;
    border-radius: 5px;
}

.column {
    float: left;
    width: 25%;
    padding: 4px;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container h4 {
    text-align: center;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: none;
}

.modalDialog > div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    color: black;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.textarea {
    resize: vertical;
    height: 300px;
    width: auto;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 12px;
    background-image: linear-gradient(to bottom,lightskyblue,steelblue);
    color: white;
    text-shadow:
    -1px -1px 0 SteelBlue,  
     1px -1px 0 SteelBlue,
     -1px 2px 0 Black,
      1px 2px 0 Black;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }