body {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    transition: ease-in-out;
    transition-duration: .7s;
    height: 100%;
}

body:hover {
    margin-left: 40px;
    margin-right: 40px;
    transition: ease-in-out;
    transition-duration: .7s;
}

.dataEntry_Container {
    margin-top: 20px;
    display: block;
    width:1300px;
    height: auto;
    padding: 0px;
    background-color: rgba(240, 240, 240, 0.959);
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 36px 3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 36px 3px rgba(0,0,0,1);
    box-shadow: 0px 0px 36px 3px rgba(0,0,0,1);
}

.container_header {
    z-index: 2;
    padding: 1px 0px 1px 20px;
    margin-top: -4px;
    display: block;
    position: sticky;
    top: 0;
    background-color: steelblue;
    background-image: linear-gradient(to bottom, lightskyblue, steelblue);
    font-family: 'Open Sans', cursive;
    font-size: 20px;
    cursor: move;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

span {
    display: inline-block;
    vertical-align: middle;
}

.h1 {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: white;
    text-shadow:
    -1px -1px 0 SteelBlue,  
     1px -1px 0 SteelBlue,
     -1px 2px 0 Black,
      1px 2px 0 Black;
}

.close_btn {
    background-image: linear-gradient(135deg, #d1d1d1, #606061);
    color: #FFFFFF;
    line-height: 20px;
    position: absolute;
    right: .4rem;
    text-align: center;
    top: .2rem;
    width: 28px;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    border-radius: 46px;
    box-shadow: 1px 1px 3px #000;
}

.close_btn:hover {
    background-image: linear-gradient(to left, lightskyblue, steelblue);
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
    border: 1px solid #d1d1d1;

}

.row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

/* Styling for the forms */

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.form_input {
    margin-left: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    display:inline-block;
    border:1px solid rgb(173, 173, 173);
    background-color: white;
    border-radius: 4px;
    height: 20px;
    font-family: "Open Sans", arial;
    font-size: 10px;
    color: rgb(48, 48, 48);
    text-align: center;
}

#traineeName {
    width: 200px;
    text-align: left;
    margin-left: 3px;
}

#instructorName {
    width: 200px;
    text-align: left;
    margin-left: 3px;
}

.form_input:focus {
    border: 1px solid lightskyblue;
    -webkit-box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
    -moz-box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
    box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
    border-radius: 4px;
}

.left_Heading {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
}

input[type=range] {
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
    margin: 10px;
    width: 160px;
    outline: none;
    background-color:rgba(240, 240, 240, 0.959);
}


input[type="range"]::-moz-range-progress {
    background-color: lightskyblue;
    border-radius: 3px;
}

input[type="range"]::-moz-range-track {  
    background-color: gray;
}

input[type="range"]::-ms-fill-lower {
    background-color: #007AFF;
    border-radius: 3px;
}

input[type="range"]::-ms-fill-upper {  
    background-color: #C7C7CC;
}

.range {
    width: 70%;
    margin-left: 15%;
}
.studentComment {
    width: 97%;
    height: 60px;
    resize: none;
    overflow-y: scroll;
    word-wrap: break-word;
    padding: 5px 10px 5px 10px;
    border:1px solid rgb(173, 173, 173);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: "Open Sans", arial;
    font-size: 10px;
    color: rgb(48, 48, 48);
}

.studentComment:focus {
    border: 1px solid lightskyblue;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
    -moz-box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
    box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
}

.instructorComment {
    width: 97%;
    height: 250px;
    resize: none;
    overflow-y: scroll;
    word-wrap: break-word;
    padding: 5px 10px 5px 10px;
    border:1px solid rgb(173, 173, 173);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: "Open Sans", arial;
    font-size: 10px;
    color: rgb(48, 48, 48);
}

.instructorComment:focus {
    border: 1px solid lightskyblue;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
    -moz-box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
    box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);    
}

.event_input {
    width: 220px;
    margin-bottom: 5px;
    border-radius: 4px;    
}

.event_input:hover {
    -webkit-box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
    -moz-box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
    box-shadow: 0px 0px 16px -4px rgba(135,206,250,0.75);
}

.addEvent_btn {
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:20px;
    border:2px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    font-weight:bold;
    padding:3px 16px;
    text-decoration:none;
    text-shadow:2px 1px 0px #528ecc;
}

.addEvent_btn:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
}

.addEvent_btn:active {
    position:relative;
    top:1px;
}

.container_footer {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: black;
    text-align: center;
    
}

.formExport_btn {
    display: table-cell;
    margin-left: 15px;
	box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:42px;
	border:3px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.formExport_btn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

#pass_input {
    margin-top: 11px;
    margin-right: 8px;
}

.formSubmit_btn {
    display: table-cell;
    margin-right: 15px;
	box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:42px;
	border:3px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.formSubmit_btn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.formSubmit_btn:active {
	position:relative;
	top:1px;
}

.formCancel_btn {
    display: table-cell;
    margin-right: 15px;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:42px;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.formCancel_btn:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.formCancel_btn:active {
	position:relative;
	top:1px;
}

.perfRange {
    display: table-cell;
    vertical-align: middle;

}

.range-wrap {
    position: relative;
    margin: 0 auto 1rem;
    border: 1px solid #d1d1d1;
  }

.range {
    width: 100px;
}

.bubble {
    background-image: linear-gradient(to bottom, lightskyblue, steelblue);
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    margin-top: 32px;
}

.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: lightskyblue;
    top: -1px;
    left: 50%;
}


.perfRateLabel {
    margin-right: 10px;
    margin-left: 15px;
    font-size: 12px;
}

/* Responsive layout - Change from 1 Row, 2 Columns to 1 Row, 1 Column when Media width display > 600px */
@media screen and (max-width: 600px) {
    .column {
        width: 98%;
        margin-left: 2px;
    }

    .row {
        width: 100%;
    }
    .body {
        margin: 0px -12px 0px 0px;
        padding: 0px;
    }

    .body:hover {
        margin: 0px;
        padding: 0px;
    }

    .dataEntry_Container {
        width: 111%;
        height: 100%;
    }
    
    #traineeName {
        width: 100%;
        text-align: left;
      }

    #instructorName {
        width: 100%;
        text-align: left;
        margin-left: 3px;
    }

    .formExport_btn {
        display: none;
    }

    .form_input {
        display: block;
        width: 100%;
        margin: 0px;
    }
    .range {
        width: 70%;
        margin-left: 15%;
    }
}    